{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

input {
        outline: none;
}

html,body {
        height: 100%;
}

body {
        display: flex;
        background: linear-gradient(to right, #e5e065, #96cee1);
}

/*登录框*/
.box {
        width: 1050px;
        height: 600px;
        display: flex;
        position: relative;
        /*background-color: #ffffff;*/
        margin: auto;
        border-radius: 8px;
        border: 1px solid rgba(255,255,255,.6);
        box-shadow: 4px 4px 3px rgba(0,0,0,.1);
}


.img-box {
        width: 200px;
        height: 200px;
        margin: 20px auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 4px 4px 3px rgba(0,0,0,.1);
}

.img-box img {
        width: 100%;
        transition: 0.3s;
}

.pre-box h1 {
        margin-top: 150px;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 4px 4px 3px rgba(0,0,0,.1);
        font-weight: bold;
        color: white;
        font-size: 35px;
}

.pre-box p {
        height: 25px;
        line-height: 25px;
        text-align: center;
        margin: 20px 0;
        text-shadow: 4px 4px 3px rgba(0,0,0,.1);
        color: white;
}

.login-form,.register-form {
        flex:1;
        height: 100%;
}

.title-box {
        height: 250px;
        line-height: 300px;
}

.title-box h1{
        text-align: center;
        letter-spacing: 4px;
        color: white;
        text-shadow: 4px 4px 3px rgba(0,0,0,.1);
        font-size: 45px;
}
.pre-box {
        width: calc(1050px/2);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 4px;
        box-shadow: 4px 4px 3px rgba(0,0,0,.1);
        background-color: rgb(204,218,140);
        transition: 0.2s ease-in-out;
}

.input-box {
        display: flex;
        flex-direction: column;
        align-items: center;
}

input {
        width: 60%;
        height: 25px;
        margin-bottom: 20px;
        text-indent: 4px;
        border: 1px solid #efecec;
        border-radius: 4px;
        color: #76b270;
}

input::placeholder{
        color: #76b270;
}
input:focus {
        border-color: #76b270;
}

#eye {
        cursor: pointer;
}


input:focus::placeholder {
        opacity: 0;
}

.btn-box {
        display: flex;
        justify-content: center;
}

button {
        border: none;
        /*background-color: #4b8d9b;*/
        background: linear-gradient(to right, #81c278, #a4cbde);
        margin: 0  7px;
        color: white;
        width: 100px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        font-size: 16px;
}

button:hover {
        cursor: pointer;
        opacity: .8;
}

.btn-box p {
        height: 15px;
        line-height: 1px;
        color: white;
        font-size: 14px;
        text-shadow: 4px 4px 3px rgba(0,0,0,.1);
}

.btn-box p:hover {
        cursor: pointer;
        border-bottom: 1px solid white;
        padding-bottom: 1px;
}
/*
动画
 */

.loader_box {
        margin: auto;
        display: none;
}
/* HTML: <div class="loader"></div>
 加载动画
 */
.loader {
        opacity:100;
        position: relative;
        right: 500px;
        --d:30px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        color: #81c278;
        box-shadow:
                calc(1*var(--d))      calc(0*var(--d))     0 0,
                calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
                calc(0*var(--d))      calc(1*var(--d))     0 2px,
                calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
                calc(-1*var(--d))     calc(0*var(--d))     0 4px,
                calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
                calc(0*var(--d))      calc(-1*var(--d))    0 6px;
        animation: l27 1s infinite steps(8);
}
@keyframes l27 {
        100% {transform: rotate(1turn)}
}
